<ion-content color="light" [ngStyle]="{'opacity': this.loadingService.isLoading ? '0' : '1' }">
  
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col [size]="size" class="ion-no-padding">
        <div class="image"></div>
      </ion-col>
      <ion-col [size]="size">
        <div class="auth-content">
          <form class="auth-login" [formGroup]="form">
            <ion-list>
              <ion-item class="email">
                <ion-label mode="md" position="stacked">Email:</ion-label>
                <ion-input formControlName="email" [disabled]="loadingAfterSubmit" type="email"></ion-input>
              </ion-item>
              <span style="margin-left: 15px; margin-top: -10px; font-size: 15px" *ngIf>Email não é válido</span>
              <ion-item>
                <ion-label mode="md" position="stacked">Senha:</ion-label>
                <ion-input formControlName="password" [disabled]="loadingAfterSubmit" type="password"></ion-input>
              </ion-item>
              <ion-item class="actions" lines="none">
                <div class="msg" *ngIf="errorMsg">
                  {{errorMsg}}
                </div>
                <ion-checkbox  [disabled]="loadingAfterSubmit" mode="md" [hidden]="errorMsg"></ion-checkbox>
                <ion-label class="remember-password"   [hidden]="errorMsg">Lembrar senha</ion-label>
                <a [hidden]="errorMsg" href="javascript:void(0)" (click)="resetPassword()" class="forgot-password">
                  Esqueceu sua senha? </a>
              </ion-item>
            </ion-list>
            <div class="submit">
              <ion-button [disabled]="loadingAfterSubmit || this.form.invalid" (click)="onSubmit()" mode="md" type="submit" color="primary"
                shape="round">
                Entrar
              </ion-button>
            </div>
            <div class="register">
              <ion-button [disabled]="loadingAfterSubmit" mode="md" (click)="register()" type="button" shape="round"
                fill="clear">
                Inscrever-se
              </ion-button>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>