<ion-content>

  <div class="image"></div>
  <div class="auth-content">
   <div class="auth-login">
     <ion-list>
        <ion-item style="padding-top: 40px;">
          <ion-label position="stacked">Email:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Senha:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label class="remember-password">Lembrar senha</ion-label>
          <a href="" class="forgot-password"> Esqueceu sua senha? </a>
        </ion-item>
     </ion-list>
   </div>
  </div>

</ion-content>
