ion-content{
    .image{
        height: 50vh;
        background-image: url('./../../../../../assets/images/backgroud.png');
        background-size:     cover;                      
        background-repeat:   no-repeat;
        background-position: center center;  
    }
}