ion-content {
    ion-grid{
        ion-row{
            ion-col{
                .image{
                    height: 50vh;
                    background-image: url('./../../../../../assets/images/backgroud.png');
                    background-size:     cover;                      
                    background-repeat:   no-repeat;
                    background-position: center center;  
                    opacity: 0.9;
                }
                .auth-content {
                    transform: translateX(20px);
                    height: 50vh;
                    ion-list{
                        margin-top: -5vh !important;
                        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                        border-radius: 25px;
                        width: 300px;
                        margin: auto;
                        --inner-padding-top: 20px;
                        ion-item{
                         width: 90%;
                         margin: auto;
                           padding-top: 15px;
                           padding-bottom: 15px;
                         --padding-end: 0px;
                         --inner-padding-end: 0px;
                         --padding-start: 0px;
                         --inner-padding-start: 0px;
                         //Tira linha o ion-item
                         --highlight-height: 0;
                         ion-label {
                            font-size: 0.4cm;
                            color: var(--ion-color-medium);
                         }
                         ion-checkbox{
                             padding: 0;
                             --border-color: #92949c;
                             --border-width:1px
                         }
                         ion-input {
                            --padding-bottom: 0;
                            --padding-top: 0;
                              font-size: 0.9rem;;
                              width: 100%;
      
                         }
                         .forgot-password{
                             font-size: 0.3cm;
                             //margin-top: -30px;
                            
                             text-decoration: none !important;
                             color: var(--ion-color-medium);
                             font-weight: 500 !important;
                         }
                         .remember-password{
                            font-size: 0.3cm !important;
                            padding-left: 10px;
                            margin-left: -4px;
                            font-weight: 500 !important;
                         }
                        }
                        .email{
                            padding-top: 30px;
                        }
                        .actions {
                            margin-top: -30px; padding-bottom: 30px;
                        }

                    }
                    @media (max-height: 611px) {
                        ion-list {
                            margin-top: -13vh !important;
                        }
                    }
                    .submit {
                        width: 100%;
                        text-align: center;
                        margin-top: -25px;
                        ion-button {
                            width: 250px;
                            min-height: 40px;
                            &[disabled] {
                                opacity: 0.7;
                            }
                        }
                    }
                    .register {
                        width: 100%;
                        text-align: center;
                        ion-button {
                            width: 250px;
                            min-height: 40px;
                            color: var(--ion-color-dark-tint);
                      
                        }
                    }
                   // animations
                    animation-name: slide;
                    animation-duration: .3s;
                    animation-timing-function: ease;
                    animation-delay: 0s;
                
                    animation-direction: normal;
                    animation-fill-mode: forwards;
                }
                @media (max-height: 400px) {
                    .image {
                        height: 100vh;
                    }
                    .auth-content {
                        height: 90vh;
                        margin-top: 16vh;
                    }
                }
                
            }
        }
    }
   
}

.msg{
    font-size: .3cm;
    color: var(--ion-color-danger-tint);
    text-align: center;
    margin: auto;
}

@keyframes slide {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



