<ion-content [fullscreen]="true">

  <form [formGroup]="form">
    <ion-list mode="md" class="ion-no-padding">
      <ion-item lines="none" class="ion-no-padding ion-text-wrap">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <div class="header">
            <ion-button fill="clear">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
            </div>
          </ion-row>
          <ion-row class="ion-text-center" style="margin-top: -60px">
            <div class="content-avatar" (click)="takePicture()">
              <ion-avatar>
                <img src="./../../../../../assets/images/no-user.jpg">
              </ion-avatar>
              <ion-button id="btn-avatar" fill="solid">
                <ion-icon name="camera"></ion-icon>
              </ion-button>
            </div>

          </ion-row>
      </ion-grid>
   

      </ion-item>
      <ion-item class="ion-no-padding item-form">
        <ion-row class="ion-no-padding">
          <ion-col class="icon-content" size="2" class="ion-no-padding">
            <ion-icon name="person-outline"></ion-icon>
          </ion-col>
          <ion-col size="10" class="ion-no-padding ion-align-self-center">
            <ion-label mode="md" position="stacked">NOME</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="ion-no-padding item-form">
        <ion-row class="ion-no-padding">
          <ion-col size="2" class="ion-no-padding">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-col>
          <ion-col size="10" class="ion-no-padding ion-align-self-center">
            <ion-label mode="md" position="stacked">EMAIL</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="ion-no-padding item-form">
        <ion-row class="ion-no-padding">
          <ion-col size="2" class="ion-no-padding">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-col>
          <ion-col size="10" class="ion-no-padding ion-align-self-center">
            <ion-label mode="md" position="stacked">SENHA</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="ion-no-padding item-form">
        <ion-row class="ion-no-padding">
          <ion-col size="2" class="ion-no-padding">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-col>
          <ion-col size="10" class="ion-no-padding ion-align-self-center">
            <ion-label mode="md" position="stacked">CONFIRME A SENHA</ion-label>
            <ion-input formControlName="confirm_password" type="password"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item style="padding-top: 30px; padding-right: 0px;" class="ion-no-padding ion-text-center item-form" lines="none">
        <ion-button type="submit" (click)="onSubmit()" id="btn-submit" fill="solid" shape="round">
          INSCREVER-SE
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>