
ion-header {
    ion-toolbar {
        --min-height: 30vh;
        border-bottom-left-radius:50%;
        border-bottom-right-radius:50%;
        ion-buttons {
            position: fixed;
            top: 0;
        }
    }
}

ion-content{
    --padding-start: 15px;
    --padding-end: 15px;
    form {
        ion-list {
            ion-item {
                --inner-padding-end: 0px;
                --highlight-height: 0;
                    ion-avatar {
                        width: 130px;
                        height: 130px;
                        margin: auto;
                    }
                    #btn-avatar {
                        width: 35px;
                        height: 35px;
                        position: fixed;
                        margin-left: 30vh;
                        margin-top: 12vh;
                        --border-radius: 50%;
                        --background: var(--ion-color-dark-shade);
                        ion-icon{
                            position: absolute;
                            font-size: .5cm;
                        }
                      
                    }
                        ion-row {
                            ion-col {
                                .icon-content{
                                    width: 10px;
                                }
                                ion-input {
                                    font-size: 0.9rem;;
                                }
                                ion-label {
                                    color: var( --ion-color-dark);
                                    font-weight: 600;
                                    font-size: 0.9rem;;
                                }
                                ion-icon {
                                    position: fixed;
                                    font-size: .5cm;
                                    margin-top: 20px;
                                    color: var( --ion-color-medium);
                                }
                            }
                        }
                #btn-submit {
                    --background: var(--ion-color-dark-shade);
                    min-height: 40px;
                    width: 100%;
                }
            }
        }
    }
}
