<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-list>
      <ion-item lines="none" class="ion-no-padding">
        <ion-avatar>
          <img src="./../../../../../assets/images/no-user.jpg">
        </ion-avatar>
        <ion-button id="btn-avatar" fill="solid">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="icon-content" size="2" class="ion-no-padding">
            <ion-icon name="person-outline"></ion-icon>
          </ion-col>
          <ion-col size="10" class="ion-no-padding ion-align-self-center">
            <ion-label mode="md" position="stacked">NOME</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="2" class="ion-no-padding">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-col>
          <ion-col size="10" class="ion-no-padding ion-align-self-center">
            <ion-label mode="md" position="stacked">EMAIL</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="2" class="ion-no-padding">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-col>
          <ion-col size="10" class="ion-no-padding ion-align-self-center">
            <ion-label mode="md" position="stacked">SENHA</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="2" class="ion-no-padding">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-col>
          <ion-col size="10" class="ion-no-padding ion-align-self-center">
            <ion-label mode="md" position="stacked">CONFIRME A SENHA</ion-label>
            <ion-input formControlName="confirm_password" type="password"></ion-input>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item style="padding-top: 20px; padding-right: 0px;" class="ion-no-padding ion-text-center"  lines="none">
        <ion-button  id="btn-submit"  fill="solid" shape="round">
          INSCREVER-SE
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
