<!--
<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="translucent" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->


<ion-content  fullscreen="true">
  <ion-grid class="ion-no-padding">
    <ion-row  class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding ion-text-center">
        <div class="avatar-content">
          <ion-avatar>
            <img src="./../../../../../assets/images/no-user.jpg">
          </ion-avatar>
          <ion-button slot="icon-only" fill="solid"><ion-icon name="camera" ></ion-icon></ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
